mat-card{
    height: fit-content;
    margin: 10px;
    padding: 2.6rem;
}
.slide-in-right {
	-webkit-animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  

.mat-card-title {
    background-color: antiquewhite;
    padding: 11px;
    letter-spacing: 2px;
    padding-left: 40px;
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #5a636a;
}

.negrita{
    font-weight: bold;
}
.normal{
    font-weight: 100;
}
.pieDeTituloCard{
    font-weight: bold;
    font-size: 16px;
    color: #5a636a;
    letter-spacing: 2px;
}
a{
    color: #7492bf;
    text-decoration: auto;
}
.item{
 height: fit-content;
 margin-top: 1rem;
}
.divider{
  width: 90% !important;
  margin-left: 3rem;
}

mat-selection-list{
  margin-top: 1rem !important;
}