.example-container{
    width: 100% !important;
    height: 10% !important;
}
.menu{
    width: 100%;
    box-shadow: none;
    background-color: rgb(74, 74, 87);
    overflow-x: hidden;
}
.contenido{
    background-color: rgb(223, 222, 222);
    overflow-x: hidden;
    height: 100vh !important;
}
.list{
    color:white;
    /* margin-left: 10px; */
}
.lista{
    text-align: center;
    overflow-x: hidden !important;
    background-color: rgb(74, 74, 87);
}
img{
    width: 240px;
    margin: 30px;
    border-radius: 50%;
}
.fotoCarnet{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
mat-icon{
    margin-right: 8px !important;
}
  /* Estilos foto carnet*/
 @media only screen and (max-width: 700px){
    img{
        width: 121px;
        margin: 20px;
        border-radius: 50%;
    }
    .menu{
        justify-content: flex-end;
    }
}
 @media only screen and (min-width: 701px) and (max-width: 1080px){
    img{
        width: 142px;
        margin: 20px;
        border-radius: 50%;
    }
    .menu{
        justify-content: flex-end;

    }
 }
