<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="menu">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name"></h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" >
    <mat-sidenav #snav [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'"  class="lista" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <div class="fotoCarnet">
        <img src="assets/fotocarnet.jpg" alt="">
      </div>
      <mat-nav-list>
        <a class="list" mat-list-item routerLink={{nav.ruta}} *ngFor="let nav of pages">{{nav.nombre}}</a>
        {{mobileQuery.matches}}
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="contenido">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>