<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="menu">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let options of pages" [value]="options" [routerLink]="options.ruta">
              {{options.nombre}}
            </mat-list-option>
          </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content class="contenido">
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>