.example-container{
    width: 100% !important;
    height: 100% !important;
}
.menu{
    width: 30%;
    background-color: rgb(74, 74, 87);
}
.contenido{
    background-color: rgb(223, 222, 222);
    overflow-x: hidden;
}
.list{
    color:white;
    margin-left: 40px;
}
.lista{
    margin-top:30px;
    overflow-x: hidden !important;

}
.options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
}
mat-icon{
    margin-right: 9px;
}
/* Estilos foto carnet*/
img{
    margin-top: 20px;
    border-radius: 170px;
    width: 250px;
}

.fotoCarnet{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Estilos toggle buttons*/
.toggleButton{
    position: fixed;
    z-index: 99;
    right: -2%;
    top: 30%;
    width: 5rem;
    height: 4rem;
    background-color:  rgb(74, 74, 87);
}
.toggleClose{
    color: rgb(161, 158, 158);
    float: right;
    margin-top: 1rem;
    cursor: pointer;
}