.example-container{
    width: 100% !important;
    height: 100% !important;
}
.menu{
    width: 30%;
    background-color: rgb(74, 74, 87);
}
.contenido{
    background-color: rgb(223, 222, 222);
}
.list{
    color:white
}
