<mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer mode="push" opened class="menu">
      <mat-icon (click)="drawer.toggle()" matTooltip="Cerrar menú" matTooltipPosition="before" class="toggleClose">close</mat-icon>
      <div class="fotoCarnet">
        <img src="assets/fotocarnet.jpg" alt="">
      </div>
        <mat-selection-list #shoes [multiple]="false" class="lista">
            <mat-list-option class="list" *ngFor="let options of pages" [value]="options" [routerLink]="options.ruta">
              <p class="options"><mat-icon>{{options.icon}}</mat-icon> {{options.nombre}}</p>
            </mat-list-option>
          </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content class="contenido">
      <button mat-raised-button color="primary" class="toggleButton" (click)="drawer.toggle()">Menú</button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>